{% extends 'base.html.twig' %}

{% block title %}Bodega Almacen!{% endblock %}

{% block body %}
    <div class="container2">

        <h1 id="titulo2">Nuestra Bodega</h1>
        <a id="texto">
     La bodega o el viticultor podrá calificar su propio 
     ‘stock’ o parte de él para mejorar el producto o,
      sencillamente, porque es mejor el vino de una añada 
    ‘stockada’ que de la siguiente. <br><br>
    </a>

        <h2 id="subtitulo2">Control de Bodega</h2>
        <a id="texto">
	 En la propia viña hay unos puntos de control 
        donde se pesan los cestos de racimos de uva, 
        luego se mete 
         en los camiones para llevar a la bodega.
         La vinificación es el conjunto de procesos, o etapas, que llevan al mosto a transformarse en una bebida alcohólica denominada vino. 
         Aunque son muchos los tipos de vinos que podemos encontrar en el mercado, nos centrares en conocer los procesos de elaboración de los vinos Blancos, Rosados y Tintos, a un nivel muy esquemático.
         La principal diferencia es que en la elaboración de vino tinto, el mosto fermenta junto a los hollejos, mientras que para la elaboración de vino blanco y rosado, el mosto fermenta sin la presencia de los hollejos.
         </a>



    </div>
{% endblock %}