{% extends 'base.html.twig' %}

{% block title %}Informacion{% endblock %}

{% block body %}


<div>


    <p id="subtitulo">Nuestra Campa単a</p>
    <div class="a単adir">
        <p>A単ade tu vino para vender</p>
        <a  href="{{ path('newvino') }}" class="registrovino">A単adir</a>
    </div>
    </body>





</div>
{% endblock %}