{% extends 'base.html.twig' %}

{% block title %}Nosotros!{% endblock %}

{% block body %}
    <div class="container2">

        <h1 id="titulo2">Nuestra Historia</h1>
        <a id="texto">
     MadoEurop es un proyecto cargado de pasión y dedicación que nace en abril del 2020.
     MadoEurop tiene ganas de dar un paso más hacia nuevos horizontes, un tiempo nuevo para poder seguir adelante y crear 
     nuevos proyecto y avanzar.<br><br>
    </a>

        <h2 id="subtitulo2">En la actualidad</h2>
        <a id="texto">MadoEurop tiene como misión principal, ofrecer a todos sus clientes, tanto profesionales del sector como personas particulares que busquen encontrar ese producto ideal para cada ocasión, un lugar donde comprar de una manera fácil, rápida, y sobre todo de confianza. Por ello, 
         el equipo de MadoEurop sigue trabajando sin descanso para mantener este compromiso con todos sus clientes.</a>



    </div>
{% endblock %}
