{% extends 'base.html.twig' %}

{% block title %}Vendimia uva!{% endblock %}

{% block body %}

    <div class="container2" >
        <h1 id="titulo2">Nuestra Vendimia</h1>

        <a id="texto">La vendimia básicamente es el proceso de recolección de las uvas con la finalidad de producir 
         diferentes variedades de vino.
	 El periodo de la vendimia se extiende desde finales de Agosto hasta principios de Octubre, 
  	 especialmente concentrado en el mes de Septiembre y Octubre.Las fechas de inicio de la campaña levemente en
	 función de las condiciones climáticas. </a>

        <h2 id="subtitulo2">Quien Trabaja en la vendimia.</h2>

        <a id="texto">En la vendimia encontramos tres tipos de profesionales: El cortador, el porteador y el conductor.
	 las explotacion de nuestra vendimia es biológica conserva y considera el trabajo manual como uno de su principal valor y
         pilar básico en la forma de actuación.</a>


    </div>
{% endblock %}