{% extends 'base.html.twig' %}

{% block title %}vinoblanco Blanco!{% endblock %}

{% block body %}

    <div class="container2">
        <h1 id="titulo2">Vino Blanco</h1>

        <a id="texto">
           El vino blanco se elabora a partir de mosto de uva blanca, sin macerar, con las partes sólidas del racimo, razón por la que 
           el prensado se realiza antes de la fermentación 
           alcohólica.
	   En general, el vino blanco es un vino pálido, 
           fresco y aromático, que fermenta sin maceración. Para que no pase ningún resto sólido al depósito, antes de la fermentación se realiza el desfangado (eliminación de los fangos o restos sólidos),
           operación con la que conseguimos un mosto muy
           limpio.</a>

        <h2 id="subtitulo2">Tipos de vinos blancos</h2>
	<a id="texto">
	<strong>En general, los vinos blancos suelen ser “secos”, es decir que su contenido en azúcares es inferior a 2-5 g/l. Existen diferentes categorías:
	</strong>Seco, Abocado, Semiseco,Semidulce y Dulce.
 </a>
	      <h2 id="subtitulo2">Elaboracion DE VINOS BLANCOS</h2>
	<a id="texto">
	<strong>Jóvenes Afrutados:</strong> Son los que más se consumen.
         Este tipo de vinos los podemos definir como: suaves, con poco grado (11,5-12,5 %),
   	 ácidos y con color amarillo pálido.
	<br><br>
        <strong>Fermentados y/o con Crianza en Barrica:</strong>
        Son vinos con más grado alcohólico, entre 13-13,5 %.
        Se elaboran con las mejores uvas.
        <br><br>
        <strong>De Aguja Añadida:</strong> Vinos que han sido enriquecidos con anhídrido carbónico.
 </a>


    </div>
{% endblock %}