{% extends 'base.html.twig' %}

{% block title %}vinotinto Tinto!{% endblock %}

{% block body %}

    <div class="container2">
        <h1 id="titulo2">Vino Tinto</h1>

        <a id="texto">
El vino tinto se define como el procedente de mostos de uvas tintas que realizan la fermentación alcohólica en presencia de sus hollejos La uva tinta tiene en las células del hollejo compuestos fenólicos, sobre todo antocianos y taninos, que pasan al vino durante la maceración con los mismos.
Habitualmente se considera que el vino tinto es el vino por excelencia, sin duda alguna es el vino más universal de todos los vinos y el que más se consume.
</a>

        <h2 id="subtitulo2">El mejor vino tinto</h2>
	<a id="texto">
 	Para obtener un gran vino tinto es importante que la uva tenga una buena madurez fenólica, de esta forma tendremos uvas con una buena concentración de polifenoles. Es importante conseguir una buena extracción de color (entre otros factores como por ejemplo aromas), si no obtendremos un vino mediocre.</a>	      


    </div>
{% endblock %}