{% extends 'base.html.twig' %}

{% block title %}vinorosado Rosado!{% endblock %}

{% block body %}

    <div class="container2">
        <h1 id="titulo2">Vino Rosado</h1>

        <a id="texto">
	El vino rosado se elabora a partir de uva tinta, o mezcla de tintas y blancas, cuyos mostos fermentan sin hollejos.
	Hay personas que creen que un vino rosado se obtiene mezclando un vino tinto y un vino blanco, con una coloración que va a depender de las proporciones de la mezcla. Antes de continuar debes saber que la legislación de muchos países prohíbe esta práctica.
	Aunque se elabora de igual forma que los vinos blancos, comparte con los vinos tintos su maceración prefermentativa con los hollejos, de mayor o menor duración. El color del vino dependerá de la duración de ésta.</a>

        <h2 id="subtitulo2">El mejor vino rosado</h2>
	<a id="texto">
	Los buenos vinos rosados se caracterizan por 
        elaborarse exclusivamente con uva tinta.
        La mayor parte de las variedades tintas tienen la pulpa incolora, mientras que el hollejo está coloreado, por lo que jugando con el tiempo de maceración, podemos conseguir una amplia gama de colores.</a>
	      
       <h2 id="subtitulo2">Elaboracion de vinos rosados</h2>
	<a id="texto">
	<strong>Vinos Rosados de Prensado Directo:</strong> Son los que más se consumen.
          Consiste en prensar la uva a su llegada a la bodega, después de un buen estrujado. Al prensar, obtenemos un mosto de poco color, el cual podemos incrementar mediante una corta maceración y/o adicionando enzimas pectolíticos en la misma prensa. Los mostos rosados que hemos obtenido, 
         fermentan de la misma forma que los mostos blancos.
	<br><br>
        <strong>Vinos Rosados de "Sangrado":</strong>
        Se elaboran a partir de uvas tintas encubadas como para la vinificación en tinto. Se macera durante un tiempo variable (de 5 a 36 horas), durante el cual el mosto adquiere el color deseado, y a continuación se sangra el depósito. Durante la maceración, se debe refrigerar (12-17ºC) para frenar oxidaciones, evitar una excesiva astringencia 
        y el comienzo de la fermentación. El mosto sale muy limpio
        <br><br>
        <strong> "Clarete": </strong> Se trata de un vino procedente de uva tinta, o mezcla de uvas tintas y blancas. 
</a>


    </div>
{% endblock %}