{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
     <link rel="stylesheet" href="{{ asset('asset/css/responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="bloque1"><p id="titulo">MADOEUROP</p>
        <p id="subtitulo">Elige tu vino</p>
       
    {% if app.user is null %}
        <p><a  class="myButton" href="{{ path('register') }}">Registrate!</a></p></div>
    {% else %}
        <p><a class="myButton">Ver Mis Compras</a></p></div>

    {% endif %}    
{% endblock %}