{% extends 'base.html.twig' %}

{% block body %}
    <div class="rutinabloque">
    <div class="col-lg-4 box-form" style="color: white;margin-left: 15px;">
        <h2>Crear User</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Update">
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}