{% extends 'base.html.twig' %}

{% block title %}Hola AdminController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1 style="color: white;text-align: center;">Usuario registrado como: {{ user.username }}</h1>


    {% endif %}

{% endblock %}