{% extends 'base.html.twig' %}

{% block title %}Compra final!{% endblock %}

{% block body %}
    <div class="container2">

        <h1 id="titulo2">La compra se ha registrado correctamente.................</h1>
        <h2 id="subtitulo2">Desde MadoEurop Muchas Gracias</h2>
        <a  class="myButton" href="{{ path('homeaction') }}">Sigue comprando!</a></p></div>
    </div>
{% endblock %}